.drag-region {
  -webkit-app-region: drag;
}

.no-drag-region {
  -webkit-app-region: no-drag;
}

.kb_pagination_select {
  padding: 4px 6px;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  outline: none;
  background-color: #ffffff;
}

.kb_pagination_input {
  width: 72px;
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  outline: none;
  background-color: #ffffff;
  font-size: 12px;
  color: #334155;
}

.kb_pagination_button {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
  background-color: #ffffff;
  color: #334155;
  cursor: pointer;
  font-size: 12px;
}

.kb_pagination_button:disabled {
  background-color: #f8fafc;
  color: #cbd5e1;
  cursor: not-allowed;
}
